<%= form_for newsarticle, html: { multipart: true, class: "form" } do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, class: "bodytext", rows: "10" %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :link %>
    <%= f.url_field :link %>
  </div>
  <%if newsarticle.newsarticle_pic.present? %>
    <%= image_tag newsarticle.newsarticle_pic.url(:medium) %>
  <% end %>
  <div>
    <%= f.label :newsarticle_pic %>
    <%= f.file_field :newsarticle_pic %>
  </div>
  <div>
    <%= f.label :newsarticle_doc %>
    <%= f.file_field :newsarticle_doc %>
  </div>
  <div>
    <%= f.submit %>&nbsp;
    <% if newsarticle.new_record? %>
      <%= link_to "Cancel", newsarticles_path %>
    <% else %>
      <%= link_to "Cancel", newsarticle_path(newsarticle) %>
    <% end %>
  </div>
<% end %>
