<%= form_for publication, html: { class: "form" } do |f| %>
  <div>
    <%= f.label :publication_category_id, "Category" %>
    <%= f.select :publication_category_id, options_for_publication_categories, label: "Category" %>
  </div>
  <div>
    <%= f.label :authors %>
    <%= f.text_area :authors %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title, rows: "5" %>
  </div>
  <div>
    <%= f.label :edition %>
    <%= f.text_field :edition %>
  </div>
  <div>
    <%= f.label :link %>
    <%= f.url_field :link %>
  </div>
  <div>
    <%= f.submit %>
    <% if publication.new_record? %>
      <%= link_to "Cancel", publications_path %>
    <% else %>
      <%= link_to "Cancel", publication_path(publication) %>
    <% end %>
  </div>
<% end %>
