<article>
  <header>
    <h1><%= @publication.title %></h1>
  </header>
  <time>
    <%= @publication.date.strftime('%d %B %Y') %>
  </time>
  <p><%= link_to @publication.link, @publication.link %></p>
</article>
<p><%= link_to "Edit publication", edit_publication_path(@publication) %>
&nbsp;|&nbsp;<%= link_to "Delete", publication_path(@publication), method: :delete, data: { confirm: "Are you sure?" } %></p>
