<%= form_for project, html: { class: "form" } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: "10" %>
  </div>
  <div>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :link %>
    <%= f.url_field :link %>
  </div>
  <div>
    <%= f.label :project_pic %>
    <%= f.file_field :project_pic %>
  </div>
  <div>
     <%= f.label "Researchers" %>
     <%= f.collection_check_boxes :member_ids, Member.all, :id, :name do |b| %>
       <%= b.label() { b.check_box + b.text} %>
     <% end %>
  </div>
  <div>
    <%= f.submit %>
    <% if project.new_record? %>
      <%= link_to "Cancel", projects_path %>
    <% else %>
      <%= link_to "Cancel", project_path(project) %>
    <% end %>
  </div>
<% end %>
