<div class="project">
  <article>
    <aside>
      <figure>
        <%= image_tag @project.project_pic.url(:large) %>
      </figure>
    </aside>
    <div class="content">
      <header class="articleheader">
        <h1><%= @project.title %></h1>
        <p class="details">
        Researchers: <a href="#">Elien Colman</a>, <a href="#">Sara Symoens</a><br>
        Contact: <%= @project.contact %> (<i class="fa fa-envelope" ></i><%= mail_to @project.email %>)</p>
      </header>
      <div class="body">
        <%= simple_format(@project.description) %> 
      </div><! -- .body -->
      <div class="downloads">
        <p><i class="fa fa-link"></i><a href="http://www.scheidinginvlaanderen.be">www.scheidinginvlaanderen.be</a></p>
      </div>
    </div><!-- .content -->
    <% if user_signed_in? %>
      <div class="edit">
        <p><i class="fa fa-pencil"></i><%= link_to "Edit Project", edit_project_path(@project) %>
      &nbsp;&nbsp;<i class="fa fa-trash"></i><%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
      </div>
    <% end %>
  </article>
</div>
