<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      HEDER<span class="action">A</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'ABOUT', page_path('about') %></li>
        <li class="nav-link"><%= link_to "PEOPLE", members_path %></li>
        <li class="nav-link"><%= link_to "RESEARCH", projects_path %></li>
        <li class="nav-link"><%= link_to "PUBLICATIONS", publications_path %></li>
        <li class="nav-link"><%= link_to 'CONTACT', page_path('contact') %></li>
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
    </nav>
  </div>
</header>
<script>
$(document).ready(function () {
    $('.navigation-menu  a').click(function () {
        //removing the previous selected menu state
        $('.navigation-menu').find('li.active').removeClass('active');
        //adding the state for this parent menu
        $(this).parents("li").addClass('active');
    });
});
</script>
