<!DOCTYPE html>
<html>
  <head>
    <title>HederaRails</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash-notice">
        <span><%= notice %></span>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-alert">
        <span><%= alert %></span>
      </div>
    <% end %>
    <div class="wrapper">
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div><!-- .wrapper -->
    <%= render 'layouts/footer' %>
  </body>
  <script>
    $(document).ready(function() {
      setTimeout(function(){
        $(".flash-alert, .flash-notice").fadeOut("slow", function() {
          $(this).remove();
        });
      }, 2500);
    });
  </script>
 <script>
      $(document).ready(function() {
        var menuToggle = $('#js-mobile-menu').unbind();
        $('#js-navigation-menu').removeClass("show");
        menuToggle.on('click', function(e) {
          e.preventDefault();
          $('#js-navigation-menu').slideToggle(function(){
            if($('#js-navigation-menu').is(':hidden')) {
              $('#js-navigation-menu').removeAttr('style');
            }
          });
        });
      });
 </script>
</html>

