<!DOCTYPE html>
<html>
  <head>
    <title>HederaRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash-notice">
        <span><%= notice %></span>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-alert">
        <span><%= alert %></span>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
