<article class="person">
  <header class="pageheader">
    <h1><%= @member.name %></h1>
  </header>
  <% if @member.active %>
    <aside>
      <%= image_tag @member.member_pic.url(:medium)  %>
    </aside>
  <% end %>
  <div class="content">
    <% if @status %>
      <p>Status: <%= @status.capitalize %></p>
    <% end %>
    <section class="bio">
      <%= simple_format(@member.bio) %>
    </section>
    <% if @member.projects.any? %>
      <section>
        <h2>Research</h2>
        <ul>
          <% @member.projects.each do |project| %>
            <li><%= link_to project.title, project %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <% if @member.active %>
      <section class="bibliography">
        <h2>Bibliography</h2>
        <p><%= link_to @member.bibliography, @member.bibliography %></p>
      </section><!-- .bibliography -->
    <% end %>
    <% if @member.active %>
      <section class="contact">
        <h2>Contact</h2>
        <p>
        <% if @member.email.present? %> 
          <i class="fa fa-envelope"></i><%= mail_to @member.email, @member.email %><br>
        <% end %>
        <% if @member.phone.present? %>
          <i class="fa fa-phone"></i><%= link_to @member.phone, @member.phone %><br>
        <% end %>
        <% if @member.address.present? %>
          <i class="fa fa-map-marker"></i><%= @member.address %></p>
        <% end %>
    </section><!-- .contact -->
    <% end %>
  </div><!-- .content -->
  <% if user_signed_in? %>
    <div class="edit">
      <p><i class="fa fa-pencil"></i><%= link_to "Edit member", edit_member_path(@member) %>
    &nbsp;&nbsp;<i class="fa fa-trash"></i><%= link_to "Delete", member_path(@member), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
  <% end %>
</article>
